.body{
    margin: 0;
    min-height: 100vh;
    background: url(./bg2.png)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center ;
    font-weight: bold;
}

.body:after{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(80deg,#14c414,#09bcf3);
    opacity: 0.20;
    z-index: -1;
}

h1{
    color: #ffffff;
    font-weight: normal;
    font-size: 52px;
    font-family: Arial;
    font-style: normal;
}

.containerreg{
    width: 100%;
    max-width: 400px;
    background: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
    overflow: hidden;
    opacity: 1;

}

.containerlog{
    width: 100%;
    max-width: 400px;
    background: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
    overflow: hidden;
    opacity: 1;

}

.input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: none;
    margin: 20px auto;
    background: none;
    border-bottom: 6px solid #2fcf35;
    color: rgb(0, 0, 0);
    font-size: 22px;
    
}

.input[type="submit"]{
    width: 300px;
    background: none;
    border: 2px solid #2fcf35;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 22px ;
    cursor: pointer;
    margin:12px 
}
.input[type="submit"]:hover{
    width: 300px;
    background: #2fcf35;
    border: 2px solid #2fcf35;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 22px ;
    cursor: pointer;
    margin:12px 
}

.header{
    padding: 20px;
    border-bottom: 5px solid #2fcf34;
    margin-bottom: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
}

.btn:hover{
    outline-color: rgba(187, 224, 24, 0);
    width: 300px;
    border-radius: 3px;
    border-color: rgba(240, 230, 140, 0.021);
    margin: 10px auto;
    background: #ffffff ;
    border-bottom: 6px solid #2fcf34cc;
    border-right: 6px solid #2fcf34cc;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.btn{
    outline-color: rgba(255, 232, 23, 0);
    width: 100%;
    border-radius: 6px;
    border-color: rgba(255, 231, 12, 0);
    border-right: 4px solid #2fcf34cc;
    border-left: 4px solid #2fcf34cc;
    margin: 10px auto;
    background: #09bcf3;
    color: #000000;
    font-size: 18px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(0, 0, 0);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(0, 0, 0);
}

.footer{
    border-top: 5px solid #2fcf34;
    padding: 10px 0;
    margin-top: 730px;
    width: 100%;
    text-align: right;
    color: rgb(0, 0, 0);
}

